body {
  background-color: #cbcbcb;
}
.container {
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  max-width: 960px;
}
.error {
  color: red;
  text-align: center;
  margin-top: 15px
}
.top-nav {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 30px 0;
}
.panel-wrap {
  max-width: 400px;
  margin: 0 auto;
}
