body {
  background-color: #cbcbcb;
}
.container {
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  max-width: 960px;
}
.error {
  color: red;
  text-align: center;
  margin-top: 15px
}
