<!doctype html>
<html lang="en" ng-app="waiterCalc">
  <head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <!-- styles -->
    <link href="//bootswatch.com/cerulean/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" ng-controller="myCtrl">
      <h1 class="text-center">Waitstaff Calculator</h1>
      <br>
      <div class="row">
        <div class="col-sm-7">
          <div class="meal-details">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Enter the meal details</h3>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" role="form" name="enterPriceForm" ng-submit="submitDetails()" novalidate>
                  <div class="form-group">
                    <label class="col-sm-5 control-label" for="mealPrice">Base Meal Price: $</label>
                    <div class="col-sm-7">
                      <input class="form-control" ng-model="mealPrice" required min="0.01">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label" for="taxRate">Tax Rate: %</label>
                    <div class="col-sm-7">
                      <input class="form-control" ng-model="taxRate" required min="1" max="100">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label" for="tipPercentage">Tip Percentage: %</label>
                    <div class="col-sm-7">
                      <input class="form-control" ng-model="tipPercentage" required min="1" max="100">
                    </div>
                  </div>
                  <div class="error" ng-show="formError != ''">Please enter valid numbers</div>
                </form>
              </div>
              <div class="panel-footer clearfix">
                <div class="pull-right">
                  <button id="submit" class="btn btn-primary">Submit</button>
                  <button id="cancel" class="btn btn-primary" ng-click="resetDetails()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="customer-charges">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Custom Charges</h3>
              </div>
              <div class="panel-body">
                <form action="" class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-7">
                      <p class="subtotal">Subtotal:</p>
                    </div>
                    <div class="col-sm-5">
                      <p>{{subtotal | currency}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-7">
                      <p class="subtotal">Tip:</p>
                    </div>
                    <div class="col-sm-5">
                      <p>{{tip | currency}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-sm-7">
                      <p class="subtotal">Total:</p>
                    </div>
                    <div class="col-sm-5">
                      <p>{{total | currency}}</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="earnings-info">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">My Earnings Info</h3>
              </div>
              <div class="panel-body">
                <form action="" class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-7">
                      <p class="subtotal">Tip Total:</p>
                    </div>
                    <div class="col-sm-5">
                      <p>{{tipTotal | currency}}</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-7">
                      <p class="tip">Meal Count:</p>
                    </div>
                    <div class="col-sm-5">
                      <p>{{mealCount}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-sm-7">
                      <p class="total">Average Tip Per Meal:</p>
                    </div>
                    <div class="col-sm-5">
                      <p>{{avgTipPerMeal | currency}}</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-default pull-right" ng-click="init()">Reset</button>
    </div>
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
